- title "Items"

%table
  %tr
    %th Name
    %th Level
    %th Product
  - for item in @items
    %tr
      %td= item.name
      %td= item.level.name
      %td= item.product.name
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Item", new_item_path
